<?xml version='1.0' encoding='utf-8'?>
<widget id="iristext.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Iris Text</name>
    <description>Iris Text SMS Service</description>

    <author email="mraagas@openovate.com" href="http://cordova.io">
        Openovate Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
       <icon src="www/img/android-icon-36x36.png" density="ldpi" />
       <icon src="www/img/android-icon-48x48.png" density="mdpi" />
       <icon src="www/img/android-icon-72x72.png" density="hdpi" />
       <icon src="www/img/android-icon-96x96.png" density="xhdpi" />
       <icon src="www/img/android-icon-144x144.png" density="xxhdpi" />
       <icon src="www/img/android-icon-192x192.png" density="xxxhdpi" />
   </platform>

    <preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="5000" />
</widget>
